.unauth {
    width: 100%;
    height: 100vh; /* Задаем высоту на весь экран */
    display: flex;
    justify-content: center;
    align-items: center;
}

.unauth-container {
    text-align: center; /* Центрируем текст внутри .unauth-container */
}

.unauth-container h1 {
    margin-bottom: 50px;
}

.unauth-container > div {
    display: inline-block; /* Чтобы можно было центрировать по горизонтали */
}

.unauth-container a {
    display: block;
    padding: 20px 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.rectext {
    font-size: 18px;
    color: rgb(255, 107, 107);
    width: fit-content;
    text-wrap: balance;
}

