
header {
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.main-header__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.main-header__logo {
    margin: 0;
    width: fit-content;
    font-family: 'LogoFont';
    font-weight: 700;
    color: #ffffff;
}

.main-header__register-button, .main-header__log-button {
    text-transform: uppercase;
    height: fit-content;
    font-family: 'RobotoMedium';
}

.main-header__acc-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.main-header__auth-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-header__logotype-href {
    text-decoration: none;
}